@media only screen and (max-width: 600px) {
    
    .main {
        align-items: center;
    }
    .main__title{
        font-size: 30px;
    }
    .carousel {
        overflow: scroll;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }

}
    
